NODE_ENV=development
PORT=9000
ALLOWED_ORIGINS=*

AWS_BUCKET=aws-bucket-name
AWS_REGION=eu-west-1
AWS_ACCESS_KEY=aws-access-key
AWS_SECRET_KEY=aws-secret-key

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=daniel-boilerplate-user
DATABASE_PASSWORD=sample-password
DATABASE_NAME=testdb
DATABASE_SSL=false
