NODE_ENV=development
PORT=9000
ALLOWED_ORIGINS=*

AWS_BUCKET=aws-bucket-name
AWS_REGION=eu-west-1
AWS_ACCESS_KEY=aws-access-key
AWS_SECRET_KEY=aws-secret-key

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=daniel-boilerplate-user
DATABASE_PASSWORD=sample-password
DATABASE_NAME=testdb
DATABASE_SSL=false

# Mail
# Choose a transport. Common options:
# SMTP: specify host, port, user, pass
# or a full URL: MAIL_TRANSPORT=smtp://user:pass@smtp.mailtrap.io:2525
MAIL_TRANSPORT=
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM="Nest Starter <no-reply@example.com>"
MAIL_PREVIEW=true
MAIL_TEMPLATE_PATH=./src/mailer/templates
