<div style="font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif; line-height: 1.4">
  <h2>{{title}}</h2>
  <p>{{message}}</p>
  {{#if footer}}
    <hr />
    <small>{{footer}}</small>
  {{/if}}
</div>
